compile-cc-statements.json
{
  "name": "compile-cc-statements",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -960,
        0
      ],
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "run manually"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": true,
        "simple": false,
        "filters": {
          "labelIds": [
            "Label_5147692669189973304"
          ]
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -740,
        0
      ],
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "get all CC emails",
      "credentials": {
        "gmailOAuth2": {
          "id": "Eflopj0v5mU7eLI4",
          "name": "gmail-creds-ariff"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Detect bank from email text/html, keep only items that have a PDF AND a known bank.\nconst banks = [\"cimb\", \"maybank\", \"alliance\", \"sc\", \"hsbc\", \"rhb\"];\nconst regex = new RegExp(`\\\\b(${banks.join(\"|\")})\\\\b`, \"i\");\n\nconst out = [];\n\nfor (const item of $input.all()) {\n  const html = item.json.html || item.json.text || \"\";\n  const match = html.match(regex);\n  const bankName = match ? match[1].toLowerCase() : null;\n\n  // find first PDF attachment\n  let firstPdf = null;\n  if (item.binary) {\n    for (const key of Object.keys(item.binary)) {\n      if (item.binary[key].mimeType === 'application/pdf') {\n        firstPdf = item.binary[key];\n        break;\n      }\n    }\n  }\n\n  // skip emails with no PDF or unknown bank (can't derive password)\n  if (!firstPdf || !bankName) continue;\n\n  out.push({\n    json: {\n      bankName,\n      subject: item.json.subject,\n      emailId: item.json.id\n    },\n    binary: { data: firstPdf }\n  });\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        0
      ],
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "get bank",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Map bankName -> default PDF password\nconst inputFieldName = \"bankName\";\nconst outputFieldName = \"password\";\n\nswitch ($input.item.json[inputFieldName]) {\n  case 'maybank':\n    $input.item.json[outputFieldName] = '***REMOVED***';\n    break;\n  case 'cimb':\n    $input.item.json[outputFieldName] = '***REMOVED***';\n    break;\n  case 'sc':\n    $input.item.json[outputFieldName] = '***REMOVED***';\n    break;\n  case 'alliance':\n    $input.item.json[outputFieldName] = '***REMOVED***';\n    break;\n  case 'hsbc':\n    $input.item.json[outputFieldName] = '***REMOVED***';\n    break;\n  case 'rhb':\n    $input.item.json[outputFieldName] = '***REMOVED***';\n    break;\n  default:\n    $input.item.json.error = 'Could not validate bankName';\n}\n\nreturn $input.item;"
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "set pass",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -300,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pdf.opariffazman.com/api/v1/security/remove-password",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "fileInput",
              "inputDataFieldName": "=data"
            },
            {
              "name": "password",
              "value": "={{ $json.password }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "unlock pdf",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -80,
        0
      ],
      "typeVersion": 4.2,
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wWP2trG8rMNF7wt7",
          "name": "stirling-pdf-header-auth"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Merge every unlocked PDF into one item with unique binary keys, ready to zip.\nconst items = $input.all();\nconst bankItems = $('get bank').all();\n\nconst binary = {};\nconst keys = [];\n\nitems.forEach((item, i) => {\n  if (!item.binary || !item.binary.data) return; // skip failed unlocks\n  const bank = (bankItems[i] && bankItems[i].json.bankName) || 'bank';\n  const key = `file_${i}`;\n  binary[key] = item.binary.data;\n  binary[key].fileName = `${bank}_statement_${i + 1}.pdf`;\n  keys.push(key);\n});\n\nif (keys.length === 0) {\n  return [{ json: { fileKeys: '', count: 0, message: 'No unlocked PDFs' }, binary: {} }];\n}\n\nreturn [{ json: { fileKeys: keys.join(','), count: keys.length }, binary }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        0
      ],
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "combine pdfs"
    },
    {
      "parameters": {
        "operation": "compress",
        "binaryPropertyName": "={{ $json.fileKeys }}",
        "outputFormat": "zip",
        "fileName": "cc-statements.zip",
        "binaryPropertyOutput": "data"
      },
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        360,
        0
      ],
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "zip statements"
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "***REMOVED***",
        "binaryData": true,
        "binaryPropertyName": "data",
        "additionalFields": {
          "fileName": "cc-statements.zip"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        580,
        0
      ],
      "id": "a1b2c3d4-0008-4000-8000-000000000008",
      "name": "send zip to op",
      "webhookId": "188c24aa-56e3-4563-99ae-02a5e6348b79",
      "credentials": {
        "telegramApi": {
          "id": "BzOqQYtm6k0wVPTV",
          "name": "opn8nbot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "run manually": {
      "main": [
        [
          {
            "node": "get all CC emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get all CC emails": {
      "main": [
        [
          {
            "node": "get bank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get bank": {
      "main": [
        [
          {
            "node": "set pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set pass": {
      "main": [
        [
          {
            "node": "unlock pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "unlock pdf": {
      "main": [
        [
          {
            "node": "combine pdfs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "combine pdfs": {
      "main": [
        [
          {
            "node": "zip statements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "zip statements": {
      "main": [
        [
          {
            "node": "send zip to op",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2db4cebb2e29355fc40aa372f4dd032db36d2bf2575deedb8d24a8d9c1bb1f19"
  },
  "tags": []
}
