process-cc-statement.json
{
  "name": "process-cc-statement",
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\n// Use optional chaining to prevent errors if html is missing\nconst html = item.json.html || item.json.text || \"\";\nconst banks = [\"cimb\", \"maybank\", \"alliance\", \"sc\", \"hsbc\", \"rhb\"];\nconst regex = new RegExp(`\\\\b(${banks.join(\"|\")})\\\\b`, \"i\");\nconst match = html.match(regex);\n\nlet bankName = null;\nif (match) {\n  bankName = match[1].toLowerCase();\n}\n\n// Set the value back to the JSON\nitem.json.bankName = bankName;\n\n// Handle Binary Attachments\nif (item.binary) {\n  let firstPdf = null;\n  \n  for (const key of Object.keys(item.binary)) {\n    const attachment = item.binary[key];\n    if (attachment.mimeType === 'application/pdf') {\n      firstPdf = attachment;\n      break;\n    }\n  }\n  \n  if (firstPdf) {\n    // Overwrite binary to only include the first PDF\n    item.binary = { data: firstPdf }; \n  }\n}\n\nreturn item;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        64
      ],
      "id": "bcf1b342-d442-4388-b33e-d923e12f9914",
      "name": "get bank",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Replace \"country\" with whatever field you want to check\nconst inputFieldName = \"bankName\";\nconst outputFieldName = \"password\";\n\n// Now write our result depending on the input field value\nswitch ($input.item.json[inputFieldName]) {\n  case 'maybank':\n    $input.item.json[outputFieldName] = $env.CC_PW_MAYBANK;\n    break;\n  case 'cimb':\n    $input.item.json[outputFieldName] = $env.CC_PW_CIMB;\n    break;\n  case 'sc':\n    $input.item.json[outputFieldName] = $env.CC_PW_SC;\n    break;\n  case 'alliance':\n    $input.item.json[outputFieldName] = $env.CC_PW_ALLIANCE;\n    break\n  case 'hsbc':\n    $input.item.json[outputFieldName] = $env.CC_PW_HSBC;\n    break;\n  case 'rhb':\n    $input.item.json[outputFieldName] = $env.CC_PW_RHB;\n    break;    \n  default:\n    $input.item.json.error = 'Could not validate bankName';\n}\n\nreturn $input.item;"
      },
      "id": "d9724479-39f3-4d30-b0e3-f2fcad7472d6",
      "name": "set pass",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -576,
        64
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pdf.opariffazman.com/api/v1/security/remove-password",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "fileInput",
              "inputDataFieldName": "=data"
            },
            {
              "name": "password",
              "value": "={{ $json.password }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7b918405-f9d0-4636-9e68-b2371a5fd3e1",
      "name": "unlock pdf",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -384,
        64
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "wWP2trG8rMNF7wt7",
          "name": "stirling-pdf-header-auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://statement-app:8000/ingest",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "=data"
            },
            {
              "name": "bank",
              "value": "={{ $('get bank').item.json.bankName }}"
            }
          ]
        },
        "options": {}
      },
      "id": "211505e5-4e35-4da5-90dd-359ccb5bbf8f",
      "name": "post to statement-app",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96,
        64
      ]
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('email received').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        992,
        64
      ],
      "id": "53d4faef-970c-48b8-a231-3ae4e5adc7f2",
      "name": "mark email read",
      "webhookId": "c68ab613-348c-4c0d-92af-df96cb3a9c62",
      "alwaysOutputData": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "Eflopj0v5mU7eLI4",
          "name": "gmail-creds-ariff"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": [
            "Label_5147692669189973304"
          ],
          "readStatus": "unread"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -928,
        64
      ],
      "id": "528e6536-530f-4e93-b1c9-50ddda8c584e",
      "name": "email received",
      "credentials": {
        "gmailOAuth2": {
          "id": "Eflopj0v5mU7eLI4",
          "name": "gmail-creds-ariff"
        }
      }
    }
  ],
  "connections": {
    "email received": {
      "main": [
        [
          {
            "node": "get bank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get bank": {
      "main": [
        [
          {
            "node": "set pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set pass": {
      "main": [
        [
          {
            "node": "unlock pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "unlock pdf": {
      "main": [
        [
          {
            "node": "post to statement-app",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "post to statement-app": {
      "main": [
        [
          {
            "node": "mark email read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "JJVEmOJL8mDXn96v"
  },
  "versionId": "d0344d98-c8e9-44a0-a435-4aa29724dfd3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2db4cebb2e29355fc40aa372f4dd032db36d2bf2575deedb8d24a8d9c1bb1f19"
  },
  "nodeGroups": [],
  "id": "qmyixyXa043I59m3",
  "tags": []
}